@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* common.css */
*{ box-sizing: border-box;  /* font-family: 'Noto Sans KR', sans-serif; */ }
body{margin:0;}
h1,h2,h3,h4,h5,h6,p{margin:0;}
h3{font-size: 20px;
    line-height: 1.1em;
    margin-bottom: 8px;}
a{text-decoration:none; }
img{vertical-align:middle;}
table{border-collapse: collapse;}
ul,li{list-style-type: none; padding:0; margin:0;
}



