@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
/* common.css */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3% 0;
  z-index: 10;
}

header div {
  margin: 0 auto;
  width: 85%;
  /*   height: auto !important; */
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div h2 {
  margin-top: 10px;
}

header div h2 a {
  vertical-align: middle;
}

header div h2 a img {
  width: 200px;
  height: 36px;
  margin-bottom: 10px;
}

header div .right {
  z-index: 50;
  margin-left: 22%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  -webkit-box-shadow: 4px 0px 13px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 4px 0px 13px 0px rgba(0, 0, 0, 0.08);
}

header div .right a {
  display: block;
}

header div .right a span {
  position: absolute;
  right: 30%;
  top: 50%;
  border: 1px solid #005ad5;
  width: 17px;
}

header div .right a span:nth-of-type(1) {
  -webkit-transform: translateY(-350%);
          transform: translateY(-350%);
}

header div .right a span:nth-of-type(3) {
  -webkit-transform: translateY(350%);
          transform: translateY(350%);
}

header div .rotate {
  -webkit-animation: rot 15s linear infinite;
          animation: rot 15s linear infinite;
  position: absolute;
  top: -70px;
  right: -120px;
  z-index: 10;
}

header div .rotate img {
  width: 180px;
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main {
  /*  width:100%;
    overflow: hidden;
    position: relative;
    left:0; top:0; */
}

main .burger {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

main .burger header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /*  padding: 10px 0; */
  z-index: 10;
}

main .burger header div {
  height: 100%;
  /*  margin:0 auto;  */
  margin-left: 20px;
  width: 85%;
  height: auto !important;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .burger header div h2 {
  /*  margin-top:10px; */
}

main .burger header div h2 a {
  vertical-align: middle;
}

main .burger header div h2 a img {
  max-width: 165px;
  height: 28px;
  margin-bottom: 15px;
}

main .burger header div .close {
  margin-left: 30%;
  margin-right: 0;
  width: 50px;
  height: 50px;
  background: #ffb500 !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 100%;
  position: relative;
}

main .burger header div .close a {
  display: block;
}

main .burger header div .close a span {
  position: absolute;
  right: 35%;
  top: 45%;
  border: 1px solid #fff;
  width: 17px;
}

main .burger header div .close a span:nth-of-type(1) {
  -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
}

main .burger header div .close a span:nth-of-type(2) {
  display: none;
}

main .burger header div .close a span:nth-of-type(3) {
  -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
}

main .burger .bur_main {
  width: 100%;
  /* height:100%; */
  padding: 70px 20px;
  background: #004bba;
  overflow: scroll;
  color: #fff;
}

main .burger .bur_main .wrap ul li {
  display: block;
  width: 100%;
  border: 0;
  padding: 5px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

main .burger .bur_main .wrap ul li a {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 34px;
  margin: 5px 0;
  color: #fff;
}

main .burger .bur_main .wrap ul li:nth-of-type(5) {
  border-bottom: none;
}

main .burger .bur_main .wrap ul li:hover {
  color: #ffb500;
}

main .burger .bur_main .wrap_2 {
  padding: 5px 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .burger .bur_main .wrap_2 ul {
  display: Table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border: 1px solid #336fc8;
  border-right: 0;
  margin-top: 15px;
}

main .burger .bur_main .wrap_2 ul li {
  display: Table-cell;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  vertical-align: middle;
  width: 25%;
  padding: 0;
  white-space: nowrap;
  border-right: 1px solid #336fc8;
  margin-right: 15px;
}

main .burger .bur_main .wrap_2 ul li a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 15px;
  font-weight: normal;
  display: block;
  color: #fff;
}

main .burger .bur_main .wrap_2 ul li a .circle img {
  margin: 0 auto 5px;
  display: block;
  max-width: 40px;
}

main .burger .bur_main .info {
  height: auto;
  display: block;
}

main .burger .bur_main .info div {
  /*  margin-bottom: 10px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .burger .bur_main .info div .en-txt {
  font-size: 16px !important;
  width: 80px;
  font-family: 'Cormorant Garamond', serif;
  /* margin: 5px 0; */
  font-weight: bold;
  color: #fff;
}

main .burger .bur_main .info div .en-txt::after {
  content: '|';
  width: 1px;
  height: 15px;
  margin-left: 10px;
  /* bottom: 50%;
                            margin-bottom: -8px;
                            left: auto;
                            right: 15px; */
}

main .burger .bur_main .info div p {
  margin-bottom: 0.85em;
  line-height: 1.6;
  color: #dcdcdc;
  font-size: 12px;
}

main .burger .bur_main .info .sns-share {
  margin-top: 10px;
  margin-bottom: 15px;
}

main .burger .bur_main .info .sns-share ul {
  width: 100%;
  list-style: none outside;
}

main .burger .bur_main .info .sns-share ul li {
  margin: 0 5px;
  display: inline-block;
}

main .burger .bur_main .info .sns-share ul li a img {
  width: 32px;
}

main .burger.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

main .sec_main {
  /*    padding-top:70px; */
}

main .sec_main .big_title {
  font-family: 'Cormorant Garamond', serif;
  width: 100%;
  padding-top: 48px;
  font-size: 34px;
  color: #005ad5;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.02em;
}

main .sec_main .main_01 .sub_menu {
  white-space: nowrap;
  border-top: 1px solid  #e1e1e1;
  border-bottom: 1px solid  #e1e1e1;
  padding: 5px 20px;
  margin: 12px 0 0;
  background: #fff;
}

main .sec_main .main_01 .sub_menu ul {
  padding: 5px 0;
  overflow-x: auto;
}

main .sec_main .main_01 .sub_menu ul li {
  color: #777777;
  font-weight: 300;
  margin: 0 10px;
  /* font-family: 'Noto Sans KR', sans-serif; */
  display: inline-block;
}

main .sec_main .menu-top {
  padding-bottom: 20%;
}

main .sec_main .menu-top .menu-tap {
  padding: 0 30px 20px;
  margin-top: 20px;
  display: block;
  text-align: center;
  width: 100%;
}

main .sec_main .menu-top .menu-tap .left {
  font-family: 'Cormorant Garamond', serif;
  color: #ffb500;
  opacity: 0.44;
  font-size: 28px;
  margin: 0 20px;
  vertical-align: top;
  display: inline-block;
  letter-spacing: -2px;
  line-height: 1.3;
  font-weight: bold;
}

main .sec_main .menu-top .menu-content {
  position: relative;
  padding: 0 20px;
}

main .sec_main .menu-top .menu-content .content1 {
  width: 320px;
}

main .sec_main .menu-top .menu-content .content1 img {
  width: 100%;
}

main .sec_main .menu-top .owl-nav .owl-prev {
  border: none;
  width: 45px;
  height: 90px;
  margin-top: -45px;
  position: absolute;
  bottom: 0;
  left: 20px;
  margin: -91px 0 0;
  background: url("../img/menu/icon_new_product_arrow.png") center center no-repeat !important;
  background-size: 100% !important;
}

main .sec_main .menu-top .owl-nav .owl-next {
  border: none;
  width: 45px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 90px;
  margin-top: -45px;
  position: absolute;
  bottom: 0;
  right: 20px;
  margin: -91px 0 0;
  background: url("../img/menu/icon_new_product_arrow.png") center center no-repeat !important;
  background-size: 100% !important;
}

main .sec_main .menu-top .owl-dots {
  padding-top: 8%;
  text-align: center;
}

main .sec_main .menu-top .owl-dots .owl-dot {
  width: 11px;
  height: 11px;
  padding: 0 !important;
  border: 1px solid #ffb500;
  background: 0 0;
  margin: 0 7px;
  border-radius: 50%;
}

main .sec_main02 .big-title {
  font-size: 34px;
  letter-spacing: -0.02em;
  color: #005ad5;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  font-family: 'Cormorant Garamond', serif;
}

main .sec_main02 .menu-list {
  margin: 30px 0 70px;
}

main .sec_main02 .menu-list .product-cate {
  margin-top: 20px;
  /* font-family: 'Noto Sans KR', sans-serif; */
  text-align: center;
  font-size: 22px;
  padding-bottom: 22px;
  font-weight: 700;
  color: #333333;
  border-bottom: 1px solid #f8f8f8 !important;
}

main .sec_main02 .menu-list .grid-sort-container {
  position: relative;
  height: auto !important;
  margin-bottom: 50px;
}

main .sec_main02 .menu-list .grid-sort-container .grid-entry {
  text-align: center;
  width: 50%;
  border: 0;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  background: #fff;
  margin-top: -1px;
  float: left;
  position: static !important;
  /*   top: auto !important;
                bottom: auto !important;
                left: auto !important;
                right: auto !important;
                padding: 0 !important; */
  -webkit-transition: all 0s ease !important;
  transition: all 0s ease !important;
  /*  -webkit-transition: all 0s ease !important; */
  /*  min-height: 250px; */
  -webkit-transform: none !important;
          transform: none !important;
  /*   -webkit-transform: none !important; */
}

main .sec_main02 .menu-list .grid-sort-container .grid-entry article {
  position: relative;
}

main .sec_main02 .menu-list .grid-sort-container .grid-entry article .grid-image img {
  width: 60%;
  margin: 15px auto 0;
}

main .sec_main02 .menu-list .grid-sort-container .grid-entry article .grid-content {
  padding-bottom: 35px;
}

main .sec_main02 .menu-list .grid-sort-container .grid-entry article .grid-content .entry-content-header {
  text-align: center;
  font-size: 20px;
  line-height: 1.1em;
  margin-bottom: 8px;
}

main .sec_main02 .menu-list .grid-sort-container .grid-entry article .grid-content .entry-content-header a span {
  font-family: 'Barlow', sans-serif;
  line-height: 19.2px;
  display: block;
  color: #005ad5;
  letter-spacing: 0;
  font-size: 12px;
  text-transform: uppercase;
}

main .sec_main02 .menu-list .grid-sort-container .grid-entry article .grid-content .entry-content-header a p {
  letter-spacing: 0;
  font-size: 15px;
  white-space: nowrap;
}

main .sec_main02 .menu-list .mobile-area {
  position: relative;
  z-index: 30;
  display: table;
  width: 100%;
}

main .sec_main02 .menu-list .mobile-area .list-more {
  width: 300px;
  height: 77px;
  line-height: 77px;
  padding: 0;
  border-radius: 50px;
  border: 0;
  font-size: 26px;
  color: #fff;
  display: table;
  margin: -35px auto 0;
  background: #ffb500;
  width: 180px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  /* margin-top: -25px; */
  margin-top: 30px;
}

main .sec_main02 .menu-list .mobile-area .list-more::after {
  content: '';
  width: 22px;
  height: 22px;
  background: url("../img/menu/icon_list_more.png") center center no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: 0;
  margin-left: 13px;
  width: 15px;
  height: 15px;
  margin-left: 8px;
}

footer .foot-widget {
  z-index: 1;
  background: #005ad5;
  border: 0;
}

footer .foot-widget .foot-wrap {
  padding: 38px 30px;
  background: #005ad5;
  text-align: center;
}

footer .foot-widget .foot-wrap .ft-logo {
  margin-bottom: 10px;
}

footer .foot-widget .foot-wrap .ft-logo a img {
  width: 190px;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

footer .foot-widget .foot-wrap .ft-info {
  line-height: 1.6;
  color: #fff;
  font-weight: 300;
}

footer .foot-widget .foot-wrap .ft-info .info01 {
  font-size: 14px;
  font-weight: 300;
}

footer .foot-widget .foot-wrap .ft-info .info01 span {
  font-size: 100%;
  color: inherit;
  display: block;
}

footer .foot-widget .foot-wrap .ft-info .info02 {
  font-size: 14px;
  font-weight: 300;
}

footer .foot-widget .foot-wrap .ft-info .info02 p {
  padding: 0 3px;
  display: inline-block;
}

footer .foot-widget .foot-wrap .link-btn {
  margin: 15px 0 20px;
}

footer .foot-widget .foot-wrap .link-btn ul {
  float: none;
  width: 100%;
}

footer .foot-widget .foot-wrap .link-btn ul li {
  margin: 0 3px;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  text-align: center;
  line-height: 1.8em;
  font-size: 15px;
  clear: both;
}

footer .foot-widget .foot-wrap .link-btn ul li a {
  width: 150px;
  color: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 45px;
  display: inline-block;
  line-height: 44px;
  font-size: 14px;
}

footer .foot-widget .foot-wrap .sns-share ul {
  width: 100%;
  list-style: none outside;
}

footer .foot-widget .foot-wrap .sns-share ul li {
  margin: 0 5px;
  display: inline-block;
}

footer .foot-widget .foot-wrap .sns-share ul li a img {
  width: 32px;
}

footer .copy-right {
  letter-spacing: 0;
  background: #ffb500;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  line-height: 1.6;
  font-size: 12px;
  font-family: 'Barlow', sans-serif;
}
/*# sourceMappingURL=menu.css.map */