@import '_common.scss';

header{
    position: static;
    left:0; top:0; 
    width:100%;
    padding: 3% 0;
    z-index: 10;

    div{
        margin:0 auto; 
        width:85%;   /*   height: auto !important; */
        background: transparent;
        display: flex;
        justify-content:center;
       
        
        h2{
            margin-top:10px;
            a{
                vertical-align: middle;
                img{ width:200px;height: 36px; 
                    margin-bottom: 10px;
                }
            }
        }
        .right{
            
            z-index: 50;
            margin-left:18%;
          
            width:50px; height:50px;
            background-color: #fff;
            border-radius: 100%;
            position: relative;
            box-shadow:4px 0px 13px 0px rgba(0 ,0 ,0 , 0.08) ;
            a{
                display: block;
                span{
                    position:absolute;
                    right:30%; top:50%;
                    border:1px solid #005ad5;
                    width:17px;
                }
                span:nth-of-type(1){transform: translateY(-350%);}
                span:nth-of-type(3){transform: translateY(350%); }
            }
        }
        .rotate{
            overflow:hidden;
            position: absolute;
            top:0px;
            right:0px;
            z-index:10;
          
            img{
                width:180px;
                animation: rot 15s linear infinite;
            }
        }
    }
}
@keyframes rot{
    0%{  transform:translate(61%,-40%) rotate(0deg);}
    100%{ transform:translate(61%,-40%) rotate(360deg);}
}

main{}
.burger{
    display: none;
    overflow-y:auto;
    
     height:100%;
    position: absolute;
    width:100%;
    top:0; right:0;
    z-index: 1000;
    transform: translateX(100%);
    header{
        position: fixed;
        left:0; top:0; 
        width:100%;
       /*  padding: 10px 0; */
        z-index: 10;
        div{
            height:100%;
           /*  margin:0 auto;  */
           margin-left:20px;
            width:85%; height: auto !important;
            background: transparent;
            display: flex;
            justify-content: center;
            h2{
               /*  margin-top:10px; */
               
                a{
                    vertical-align: middle;
                    img{ max-width:165px;  height: 28px; margin-bottom: 15px;}
                }
            }
            .close{
                margin-left:30%;
                margin-right: 0;
                width:50px; height:50px;
                background: #ffb500 !important;
                transform: rotate(180deg);
                border-radius: 100%;
                position: relative;
                a{ display: block;                                                                
                    span{                         
                        position:absolute;
                        right:35%; top:45%;
                        border:1px solid #fff;
                        width:17px;
                    }
                    span:nth-of-type(1){ 
                        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg,0deg);
                    }
                    span:nth-of-type(2){display: none;}
                    span:nth-of-type(3){
                        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg); 
                    }
                }
            }
        }
    }

    .bur_main{   
        width:100%; /* height:100%; */
        padding: 70px 20px ;
        background: #004bba;
        overflow: scroll;
        color:#fff;
        .wrap{
            .gnb-wr{
                .mo{
                    width: 100%;
                    transition: 0.3s;
                    border: 0;
                    padding: 5px 6px;
                    border-bottom: 1px solid rgba(255,255,255,0.2);
                    .en-txt{
                        font-size: 34px; color: #fff;
                        line-height: 1;
                        font-family: 'Cormorant Garamond', serif;
                        letter-spacing: 0;
                        position: relative;
                        margin: 5px 0;
                        font-weight: bold;
                        .en-txt{}
                    }
                }
                .menu{
                    width: 100%;
                    transition: 0.3s;
                    border: 0;
                    padding: 5px 6px;
                    border-bottom: 1px solid rgba(255,255,255,0.2);
                    .en-txt{
                        font-size: 34px; color: #fff;
                        line-height: 1;
                        font-family: 'Cormorant Garamond', serif;
                        letter-spacing: 0;
                        position: relative;
                        margin: 5px 0;
                        font-weight: bold;
                    }
                    .en-txt.on{color:#ffb500;}
                   
                    ul{
                        margin: 0;
                        display: none;
                         vertical-align: top;
                        li{
                            margin-right: 15px;
                            // display: flex;
                            a{font-size: 13px; color: #fff;      transition: all 0.3s ease;
                                letter-spacing: -0.5px;
                                position: relative;   font-weight: 400;}
                               
                        }
                     
                    }
                    ul.active{display: inline-block;}
                }
                .event{
                    width: 100%;
                    transition: 0.3s;
                    border: 0;
                    padding: 5px 6px;
                    border-bottom: 1px solid rgba(255,255,255,0.2);
                    .en-txt{
                        font-size: 34px; color: #fff;
                        line-height: 1;
                        font-family: 'Cormorant Garamond', serif;
                        letter-spacing: 0;
                        position: relative;
                        margin: 5px 0;
                        font-weight: bold;
                    }
                    .en-txt.on{color:#ffb500;}
                    ul{
                        margin: 0;
                        display: none;
                        vertical-align: top;
                        li{
                            margin-right: 15px;
                            display: inline-block;
                            a{
                                font-size: 13px; color: #fff;      transition: all 0.3s ease;
                                letter-spacing: -0.5px;
                                position: relative;   font-weight: 400;
                            }
                        }
                    }
                    ul.active{display:flex;}
                }
                .community{
                    width: 100%;
                    transition: 0.3s;
                    border: 0;
                    padding: 5px 6px;
                    border-bottom: 1px solid rgba(255,255,255,0.2);
                    .en-txt{  font-size: 34px; color: #fff;
                        line-height: 1;
                        font-family: 'Cormorant Garamond', serif;
                        letter-spacing: 0;
                        position: relative;
                        margin: 5px 0;
                        font-weight: bold;}
                        .en-txt.on{color:#ffb500;}
                    ul{
                        margin: 0;
                        display: none;
                        vertical-align: top;
                        li{
                            margin-right: 15px;
                            display: inline-block;
                            a{
                                font-size: 13px; color: #fff;      transition: all 0.3s ease;
                                letter-spacing: -0.5px;
                                position: relative;   font-weight: 400;
                            }
                        }
                    }
                    ul.active{display:flex;}
                }
                .franchise{
                    width: 100%;
                    transition: 0.3s;
                    border: 0;
                    padding: 5px 6px;
                    .en-txt{font-size: 34px; color: #fff;
                        line-height: 1;
                        font-family: 'Cormorant Garamond', serif;
                        letter-spacing: 0;
                        position: relative;
                        margin: 5px 0;
                        font-weight: bold;}
                        .en-txt.on{color:#ffb500;}
                    ul{
                        margin: 0;
                        display: none;
                        vertical-align: top;
                        li{
                            margin-right: 15px;
                            display: inline-block;
                            a{
                                font-size: 13px; color: #fff;      transition: all 0.3s ease;
                                letter-spacing: -0.5px;
                                position: relative;   font-weight: 400;
                            }
                        }
                    }
                    ul.active{display:flex;}
                }
            }
        }  
        .wrap_2{ 
            padding: 5px 0;
            margin-bottom: 10px;
            display: flex;
            ul{
                display: Table;
                width: 100%; height:100%;
                table-layout: fixed;
                border: 1px solid #336fc8;
                border-right: 0;
                margin-top: 15px;
                    li{
                        display: Table-cell;
                        border-bottom: 1px solid rgba(255,255,255,0.2);
                        vertical-align: middle;
                        width: 25%;
                        padding:0;
                        white-space: nowrap;
                        border-right: 1px solid #336fc8;
                        margin-right: 15px;
                        a{
                            font-family:'Noto Sans KR', sans-serif; ;
                            font-size: 13px;    
                            letter-spacing: -0.5px;
                            text-align: center;
                            padding: 15px;
                            font-weight: normal;
                            display: block;
                            color: #fff;
                            .circle{
                              
                                img{    
                                    margin: 0 auto 5px;
                                    display: block;
                                    max-width: 40px;
                                }
                            }
                        }
                        .search{color:#ffb500;}
                    }
                }
        } 
            .info{
                height: auto;
                display: block;
               
                div{
                   /*  margin-bottom: 10px; */
                    display: flex;
                    .en-txt{
                        font-size: 16px !important;
                        width:80px;
                        font-family: 'Cormorant Garamond', serif;
                        /* margin: 5px 0; */
                     
                       
                        font-weight: bold;
                        color:#fff;
                    }
                    .en-txt::after{
                        content:'|';
                        width: 1px;
                        height: 15px;
                        margin-left:10px;
                        /* bottom: 50%;
                        margin-bottom: -8px;
                        left: auto;
                        right: 15px; */
                    }
                    
                    p{     margin-bottom: 0.85em ;line-height: 1.6;
                       color: #dcdcdc;   font-size: 12px;
                    }
                    
                }
                .sns-share{
                    margin-top:10px;
                    
                    margin-bottom: 15px;
                    ul{
                        width: 100%;
                        list-style: none outside;
                        li{
                            margin: 0 5px;
                            display: inline-block;
                            a{
                            img{width:32px;}
                            }
                        }
                    }
                }
            }
         
        

    }
}
.burger.active{ display:block;transform: translateX(0%);}


    .first{
        padding: 40px 0 10px !important;
        width:100%;
        margin:0 auto;
        text-align: center;
        .big-title{  
            font-size: 34px;
            letter-spacing: -0.02em;  
            color: #005ad5;
            font-family: 'Cormorant Garamond', serif;
        // text-align: center;
            font-weight: bold;
            line-height: 1;}
        div{
            .sub-txt{margin: 20px 0;
                b{    font-size: 20px;}
            }
        }
    }
    form{
        margin-bottom: 20px;
    .city_search{
        width: 100%;
        margin-top: 15px;
        padding: 0 20px;
    
    
            .city_si{
                font-size: 14px;
                letter-spacing: -1px;
                line-height: 1.6;
                appearance: none;
                padding: 8px 15px;
                width: 100% !important;
                margin: 0 0 3px !important;
                background: url('../img/search/select-arrow.png') no-repeat 95% center !important;
                border: 1px solid #e0e0e0;
                border-radius: 30px !important;
                color: #7d7d7d !important;  
                box-shadow: -4px 5px 15px 4px rgba(235, 235 ,235,  0.45);
            }
            
            .city_gu{
                font-size: 14px;
                letter-spacing: -1px;
                line-height: 1.6;
                appearance: none;
                padding: 8px 15px;
                width: 100% !important;
                margin: 0 0 3px !important;
                border: 1px solid #e0e0e0;
                border-radius: 30px !important;
                color: #7d7d7d !important;  
                box-shadow: -4px 5px 15px 4px rgba(235, 235 ,235,  0.45);
                background: url('../img/search/select-arrow.png') no-repeat 95% center !important;
            }
        
        .deliv-check{
            margin: 8px 0 !important;
            display: flex;
            // width: 200px !important;
            
        
            div{
                // width: 47% !important;
                margin-left: 0 !important;
                padding-right: 20px;
            
                label[class=""]{

                    padding-left: 38px;
                    background: url('../img/search/icon_radio.png') left center no-repeat;
                    background-size: 27px;
                    position: relative;
                    height: 27px;
                    line-height: 27px;
                    display: inline-block;
                    margin-right: 20px;
                    font-weight: bold;
                    font-size: 0.92em;
                    input[type="checkbox"]
                    {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 27px;
                        height: 27px;
                        opacity: 0.001;}
                        span{   line-height: 1.6; font-family: 'Noto Sans KR', sans-serif;font-size: 15px !important;font-weight: normal;color: #444;}
                    }
                }
            }

            .sear-wp{ 
                position: relative;
                input[type="text"] {
                    font-size: 14px;
                    letter-spacing: -1px;
                    line-height: 1.6;
                    padding: 8px 15px;
                    width: 100% !important;
                    margin: 0 0 3px !important;
                    border: 1px solid #e0e0e0;
                    border-radius: 30px !important;
                    color: #7d7d7d !important;  
                    box-shadow: -4px 5px 15px 4px rgba(235, 235 ,235,  0.45);}
                input[type="button"]{
                    position: absolute;
                    right:0; top:0;
                    width: 108px !important;
                    height: 40px !important;
                    font-size: 15px;
                    border-radius: 30px;
                    background: #005ad5;
                    color: #fff;
                    border: none;

                }
            }
            
    }
}

.st-table{
    border-top: 2px solid #0057d0 !important;
    margin: 0 20px;
    margin-bottom: 55px;
    .st-wrap{
        width: 100%;
        ul{
            li{
                position: relative;
                border-bottom: 1px solid #dedede;
                .store-li{
                    padding: 15px 0;
                    width:100%;
                    .store-desc{
                        padding: 15px 0 0;
                        position: relative;
                        .store-text-wrap{
                            .store-text{
                                font-size: 14px;
                                color: #666;
                                letter-spacing: -1px;
                                line-height: 1.6;
                                h3{font-size: 19px;
                                    color: #000;
                                }
                                address{ color: #6a6a6a;
                                    font-style: normal;   font-size: 14px; letter-spacing: -1px;
                                    line-height: 1.6;}
                                .info{
                                    display: flex;
                                    p{    font-size: 13px;
                                        margin: 10px 15px 0 0;}
                                    img{vertical-align: sub;padding-right: 5px;}
                                    .open_time{
                                        img{}
                                        span{}
                                    }
                                }
                                .st-cont{
                                    margin-top: 10px;
                                    div{padding: 5px 20px;
                                        font-size: 14px;
                                       
                                        background: #f8f8f8;
                                        display: inline-block;
                                       
                                        border-radius: 30px;
                                        color: #ffb500;
                                        font-weight: 500;
                                        margin-right: 5px;
                                    }
                                    .pic{}
                                    .deli{    color: #005ad5;}
                                }
                            }
                        }
                        .st-pin{
                            width: 35px;
                            height: 35px;
                            padding: 7px 8px;
                            top: 6px;
                            right: 0;
                            position: absolute;
                            .img{width:100%;}
                            .act{display: none;}
                        }
                    }
                }
            }
        }
    }
    .page-num{
        width: 100%;
        display: inline-block;
        .number{
            width: 100%;
            ul{
                margin: 30px 0 7px;
                text-align: center;
                width: 100%;
                display: flex;
                justify-content:center;
                align-items: center;
              
                
                li{
                    padding: 10px;
                    position: relative;
                    .n_circle{
                        padding:10px; 
                    a{  font-size: 14px;color: #777;font-family: 'Barlow Semi Condensed', sans-serif; }
                    }
                }
                .next{
                    background: url('../img/search/knext-icon.jpg') no-repeat center center !important;
                }
                li.act{
                    .n_circle{
                    width:30px; height:30px;
                    border-radius: 100% ;
                    background: #f1f1f1;
                    padding:10px; 
                        position: relative;
                        a{
                            position: absolute;
                            left:40%; top:17%;
                            color: #005ad5;
                            font-weight: bold;
                            font-size: 14px;
                            }    
                    }
                }
                li.act::before{
                    border: 1px dotted #005ad5;
                    content: "";
                    display: block !important;
                    width: 100%;
                    height: 100%;
                    position: Absolute;
                    left: -1px;
                    top: -1px;
                    border-radius: 100%;
                }
            }
        }
    }
}



footer{
    .foot-widget{
        z-index: 1;
        background: #005ad5;
        border: 0;
        .foot-wrap{
            padding: 38px 30px;
            background: #005ad5;
            text-align: center;
            .ft-logo{
                margin-bottom: 10px;
                a{
                    img{width: 190px;border: none;
                        padding: 0;
                        margin: 0;
                        display: inline-block;
                        max-width: 100%;
                        height: auto;}
                }
            }
            .ft-info{
                line-height: 1.6;
                color:#fff;
                font-weight: 300;   
                .info01{  
                    font-size: 14px;
                    font-weight: 300;
                    span{ font-size: 100%;
                        color: inherit;   display: block;}
                }
                .info02{
                    font-size: 14px;
                    font-weight: 300;
                    p{      padding: 0 3px;  display: inline-block;}
                }
            }
            .link-btn{
                margin: 15px 0 20px;
                ul{
                    float: none;
                    width: 100%;
                    li{
                        margin: 0 3px;
                        display: inline-block;
                        margin: 0 5px;
                        padding: 0;
                        text-align: center;
                        line-height: 1.8em;
                        font-size: 15px;
                        clear:both;
                        a{width: 150px;
                            color: #fff !important;
                            border: 1px solid rgba(255,255,255,0.5);
                            height: 45px;     display: inline-block;
                            line-height: 44px;
                            font-size: 14px;
                        }
                    }
                }
            }
            .sns-share{
                ul{
                    width: 100%;
                    list-style: none outside;
                    li{
                        margin: 0 5px;
                        display: inline-block;
                        a{
                        img{width:32px;}
                        }
                    }
                }
            }
        }
    }
    .copy-right{
        letter-spacing: 0;
        background: #ffb500;
        text-align: center;
        color: #fff;
        padding: 12px 0;
        line-height: 1.6;
        font-size: 12px;
        font-family: 'Barlow', sans-serif;
    }
    aside{
        display: none;
        visibility: visible;
        opacity: 1;
        position:fixed;
        width: 56px;
        height: 56px;
        padding: 16px 0;
        right: 20px;
        bottom: 30px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 2px 2px 12px 7px rgba(0 ,0 ,0 , 0.05);
    
    }
    aside::before{
        content: '';
    background: url('../img/main/icon_topbtn.png') center center no-repeat;
    background-size: 100%;
    display: block;
    width: 21px;
    height: 11px;
    margin: 0 auto 7px;
        width: 12px;
        height: 7px;
        margin-bottom: 1px;
    }
    aside::after{
        content: 'TOP';
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffb500;
    display: block;
    font-size: 13px;
    letter-spacing: 0.2px;
    text-align: center;
    }

}